@font-face {
  font-family: 'Titillium Web';
  src: url('./font.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

h1,
h2,
h3 {
  color: #93005a;
}

h1 {
  font-size: 2rem;
}

#root,
body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  padding: 1rem;
}

section {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 12px;
  margin: 1rem;
  min-width: 350px;
}

button {
  color: white;
  background-color: #24a0ff;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  font-size: 0.9em;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
}

#root {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

input[type=submit] {
  border: 1px solid lightcoral;
  background-color: white;
  color: #ff4b00;
}

input[type=submit]:hover {
  border-width: 2px;
}

form div {
  margin-bottom: 0.7rem;
}

form div:last-child {
  justify-content: flex-end;
}

input,
textarea {
  padding: 0.2rem;
  width: 280px;
  border: 1px solid lightcoral;
}
